<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<link rel="icon" type="image/svg+xml" href="{{ '/assets/icons/favicon.svg' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/icons/favicon-96x96.png' | relative_url }}">
<link rel="shortcut icon" type="image/png" href="{{ '/assets/icons/favicon-96x96.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">

<!-- end custom head snippets -->
